@import "tailwindcss";

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}

.main {
  background: url("/bg-white.jpg");
}

.shadow-type {
  box-shadow: -10px -10px 30px #ffffff, 10px 10px 30px #aeaec0 40%;
}

.card {
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}
